<a href="https://colab.research.google.com/github/Onome1991/Salaries/blob/main/Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import files
uploaded= files.upload()

Saving Salaries.csv to Salaries.csv

In [3]:
import io
data = pd.read_csv(io.BytesIO(uploaded['Salaries.csv']))

In [4]:
data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,AD,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,NaN,180394.07,180394.07,2011,NaN,San Francisco,NaN
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011,NaN,San Francisco,NaN
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN

# **How many unique jobs are there? Look at the unique method in Pandas**

In [13]:
data['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC',
       'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)',
       'ASSISTANT DEPUTY CHIEF II', 'BATTALION CHIEF, (FIRE DEPARTMENT)',
       'DEPUTY DIRECTOR OF INVESTMENTS',
       'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
       'ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
       'EXECUTIVE CONTRACT EMPLOYEE', 'DEPARTMENT HEAD V',
       'COMMANDER III, (POLICE DEPARTMENT)',
       'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
       'ASSISTANT MEDICAL EXAMINER', 'CAPTAIN, FIRE SUPPRESSION',
       'CHIEF OF POLICE', 'DEPUTY CHIEF III (POLICE DEPARTMENT)',
       'INSPECTOR III, (POLICE DEPARTMENT)',
       'ELECTRONIC MAINTENANCE TECHNICIAN',
       'ADMINISTRATOR, SFGH MEDICAL CENTER',
       'LIEUTENANT III (POLICE DEPARTMENT)', 'FIREFIGHTER',
       'NURSING SUPERVISOR PSYCHIATRIC', 'MAYOR',
       'LIEUTENANT, FIRE DEPARTMENT', 'INCIDENT SUPPORT SPECIALIST',
       'ANESTHETIST', 'DISTRICT ATTORNEY',
       'ELECTRICAL TRANSIT MECHANIC, ASSISTANT SUPERVISOR',
       'PORT DIRECTOR',
       'LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBLIC S',
       'SENIOR PHYSICIAN SPECIALIST', 'FIRE FIGHTER PARAMEDIC',
       'MANAGER VII', 'TRANSIT SUPERVISOR',
       'INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLIC SA',
       'MANAGER VIII', 'DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG',
       'NURSING SUPERVISOR', 'POLICE OFFICER III', "SHERIFF'S LIEUTENANT",
       'DEPUTY DIRECTOR V', 'SUPERVISING PHYSICIAN SPECIALIST',
       'DEPARTMENT HEAD IV', 'FORENSIC TOXICOLOGIST',
       'CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL)',
       'SERGEANT III (POLICE DEPARTMENT)', 'DEPUTY SHERIFF',
       'NURSE MANAGER', 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
       'CITY ATTORNEY', 'MARINE ENGINEER OF FIRE BOATS',
       'CHIEF ATTORNEY I (CIVIL & CRIMINAL)',
       'CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE',
       'ELECTRICAL TRANSIT SHOP SUPERVISOR I', 'POLICE OFFICER I',
       'POLICE OFFICER II', 'SERGEANT I (POLICE DEPARTMENT)',
       'SPECIAL ASSISTANT XXII', 'DEPUTY DIRECTOR IV',
       'WIRE ROPE CABLE MAINTENANCE SUPERVISOR', 'PUBLIC DEFENDER',
       'SHERIFF', 'HUMAN RESOURCES DIRECTOR',
       'INVESTIGATOR, BUREAU OF FIRE INVESTIGATION',
       'ASSISTANT CHIEF ATTORNEY II', 'DEPUTY DIRECTOR III', 'PHARMACIST',
       'TRANSIT OPERATIONS SPECIALIST', 'DEPARTMENT HEAD III',
       'CHIEF PROBATION OFFICER, JUVENILE COURT', "SHERIFF'S SERGEANT",
       'ASSISTANT INSPECTOR (POLICE DEPARTMENT)',
       'DIAGNOSTIC IMAGING TECH II', 'DIAGNOSTIC IMAGING TECH III',
       'CHIEF ADULT PROBATION OFFICER', 'MANAGER VI',
       'FIRE SAFETY INSPECTOR II', 'MAINTENANCE MACHINIST',
       'ASSISTANT INSPECTOR III (POLICE DEPARTMENT)',
       'DEPUTY DIRECTOR I - MUNICIPAL TRANSPORTATION AGE',
       'DIRECTOR, EMPLOYEE RELATIONS DIVISION',
       'ASSISTANT CHIEF ATTORNEY I', 'TRAIN CONTROLLER',
       'PHYSICIAN ASSISTANT', 'PHYSICIAN SPECIALIST',
       'AUTOMOTIVE MECHANIC SUPERVISOR I', 'ATTORNEY (CIVIL/CRIMINAL)',
       'SERGEANT II (POLICE DEPARTMENT)', 'ELECTRICIAN',
       'NURSE PRACTITIONER',
       'MECHANICAL SHOP AND EQUIPMENT SUPERINTENDENT',
       'HEAD ATTORNEY, CIVIL AND CRIMINAL'], dtype=object)

In [17]:
data['JobTitle'].nunique()

93

In [9]:
data['JobTitle'].value_counts()

JobTitle
FIREFIGHTER                             74
LIEUTENANT, FIRE DEPARTMENT             42
BATTALION CHIEF, (FIRE DEPARTMENT)      40
CAPTAIN, FIRE SUPPRESSION               35
CAPTAIN III (POLICE DEPARTMENT)         34
                                        ..
PUBLIC DEFENDER                          1
SHERIFF                                  1
HUMAN RESOURCES DIRECTOR                 1
DEPUTY DIRECTOR III                      1
ELECTRICAL TRANSIT SHOP SUPERVISOR I     1
Name: count, Length: 93, dtype: int64

# **Count how many people have the first name John**

In [22]:
data_filter = data[data['EmployeeName'].str.contains(r'\bJOHN\b', case=False, na=False)]
data_filter

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
13,AN,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
26,BA,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
33,BH,JOHN TURSI,"INSPECTOR III, (POLICE DEPARTMENT)",104861.39,50227.61,103499.39,NaN,258588.39,258588.39,2011,NaN,San Francisco,NaN
93,DP,JOHN MURPHY,CAPTAIN III (POLICE DEPARTMENT),215914.03,0.00,12293.83,NaN,228207.86,228207.86,2011,NaN,San Francisco,NaN
112,EI,JOHN HALEY JR,DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG,220115.22,0.00,237.00,NaN,220352.22,220352.22,2011,NaN,San Francisco,NaN
127,EX,JOHN HICKEY,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,22432.91,25855.73,NaN,216981.27,216981.27,2011,NaN,San Francisco,NaN
132,FC,JOHN RAHAIM,DEPARTMENT HEAD IV,215799.48,0.00,0.00,NaN,215799.48,215799.48,2011,NaN,San Francisco,NaN
153,FX,JOHN CAVANAUGH,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.88,54054.41,18236.44,NaN,212837.73,212837.73,2011,NaN,San Francisco,NaN
163,GH,JOHN BRAGAGNOLO,SERGEANT III (POLICE DEPARTMENT),130457.96,6284.61,73334.31,NaN,210076.88,210076.88,2011,NaN,San Francisco,NaN
185,HD,JOHN BROWN,MANAGER VIII,207798.79,0.00,0.00,NaN,207798.79,207798.79,2011,NaN,San Francisco,NaN
214,IG,JOHN FEENEY,CAPTAIN III (POLICE DEPARTMENT),188348.55,5720.22,10173.43,NaN,204242.20,204242.20,2011,NaN,San Francisco,NaN
234,JA,JOHN ROCCO,"LIEUTENANT, FIRE DEPARTMENT",123105.00,56654.78,22564.64,NaN,202324.42,202324.42,2011,NaN,San Francisco,NaN
240,JG,JOHN EHRLICH,CAPTAIN III (POLICE DEPARTMENT),188341.62,1068.45,12211.62,NaN,201621.69,201621.69,2011,NaN,San Francisco,NaN
252,JS,JOHN GOLDBERG,CAPTAIN III (POLICE DEPARTMENT),188341.61,0.00,12119.40,NaN,200461.01,200461.01,2011,NaN,San Francisco,NaN
308,LW,JOHN VAN KOLL,POLICE OFFICER III,112401.07,23572.29,60183.94,NaN,196157.30,196157.30,2011,NaN,San Francisco,NaN
326,MO,JOHN NESTOR,SERGEANT III (POLICE DEPARTMENT),135339.78,16309.92,43704.98,NaN,195354.68,195354.68,2011,NaN,San Francisco,NaN
345,NH,JOHN KOSTA,FIREFIGHTER,105934.69,70312.13,17938.07,NaN,194184.89,194184.89,2011,NaN,San Francisco,NaN
348,NK,JOHN GARRITY,CAPTAIN III (POLICE DEPARTMENT),188341.62,1131.28,4586.65,NaN,194059.55,194059.55,2011,NaN,San Francisco,NaN
359,NV,JOHN MURPHY,"LIEUTENANT, FIRE DEPARTMENT",123104.98,54870.85,15365.22,NaN,193341.05,193341.05,2011,NaN,San Francisco,NaN
366,OC,JOHN LOFTUS,CAPTAIN III (POLICE DEPARTMENT),188341.62,0.00,4609.75,NaN,192951.37,192951.37,2011,NaN,San Francisco,NaN
368,OE,JOHN SANFORD JR,CAPTAIN III (POLICE DEPARTMENT),188341.62,0.00,4586.66,NaN,192928.28,192928.28,2011,NaN,San Francisco,NaN
411,PV,JOHN BUCHANAN JR,DEPARTMENT HEAD III,190248.76,0.00,0.00,NaN,190248.76,190248.76,2011,NaN,San Francisco,NaN
464,RW,JOHN HART,SERGEANT III (POLICE DEPARTMENT),130481.51,18014.24,38960.95,NaN,187456.70,187456.70,2011,NaN,San Francisco,NaN
466,RY,JOHN BARKER,SENIOR PHYSICIAN SPECIALIST,155276.21,0.00,31931.61,NaN,187207.82,187207.82,2011,NaN,San Francisco,NaN
555,VJ,JOHN FLORES,FIREFIGHTER,105934.65,61569.80,16499.67,NaN,184004.12,184004.12,2011,NaN,San Francisco,NaN
570,VY,JOHN CREMEN,"BATTALION CHIEF, (FIRE DEPARTMENT)",147158.86,14702.89,21512.66,NaN,183374.41,183374.41,2011,NaN,San Francisco,NaN
593,WV,JOHN STANFIELD,FIRE FIGHTER PARAMEDIC,122418.29,44409.33,15903.78,NaN,182731.40,182731.40,2011,NaN,San Francisco,NaN
620,XW,JOHN CAGNEY,"INSPECTOR III, (POLICE DEPARTMENT)",130466.56,25980.73,25444.50,NaN,181891.79,181891.79,2011,NaN,San Francisco,NaN
644,YU,JOHN BAKER,MECHANICAL SHOP AND EQUIPMENT SUPERINTENDENT,96616.80,69317.08,15221.78,NaN,181155.66,181155.66,2011,NaN,San Francisco,NaN
655,ZF,JOHN DARMANIN,"INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLI...",126968.05,369.10,53241.41,NaN,180578.56,180578.56,2011,NaN,San Francisco,NaN

In [23]:
data_filter.shape

(30, 13)

# **Find the surname of everyone whose first name is more than 6 characters long**

In [25]:
data[['FirstName', 'LastName']] = data['EmployeeName'].str.split(' ', n=1, expand=True) # Changed from 3 positional arguments to 2 and changed expand=True to a keyword argument.

In [26]:
data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,FirstName,LastName
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,NATHANIEL,FORD
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,GARY,JIMENEZ
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,ALBERT,PARDINI
3,AD,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,CHRISTOPHER,CHONG
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,PATRICK,GARDNER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,NaN,180394.07,180394.07,2011,NaN,San Francisco,NaN,CHERYL,ADAMS
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN,LOUISE,SIMPSON
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011,NaN,San Francisco,NaN,BLAKE,LOEBS
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN,ELIZABETH,AGUILAR-TARCHI
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN,JULIAN,NG

In [31]:
# Filter to find last names of people whose first name is longer than 6 characters
long_first_names = data[data['FirstName'].str.len() > 6]['LastName']
long_first_names

0                FORD
3               CHONG
4             GARDNER
8              MORRIS
11            JACKSON
            ...
661            GAUGER
662               LEE
667               LIU
670          SALVESON
674    AGUILAR-TARCHI
Name: LastName, Length: 215, dtype: object

# **Create a new derived column called overtime_ratio in the DataFrame which is the proportion of overtime pay to base pay**

In [33]:
#Create the derived column 'overtime_ratio' as the proportion of OvertimePay to BasePay
data['overtime_ratio'] = data['OvertimePay'] / data['BasePay']
data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,FirstName,LastName,overtime_ratio
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,NATHANIEL,FORD,0.000000
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,GARY,JIMENEZ,1.571701
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,ALBERT,PARDINI,0.498677
3,AD,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,CHRISTOPHER,CHONG,0.720272
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,PATRICK,GARDNER,0.072447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,NaN,180394.07,180394.07,2011,NaN,San Francisco,NaN,CHERYL,ADAMS,0.000000
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN,LOUISE,SIMPSON,0.000000
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011,NaN,San Francisco,NaN,BLAKE,LOEBS,0.000000
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN,ELIZABETH,AGUILAR-TARCHI,0.000000
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN,JULIAN,NG,0.335688

# **In one line, create a new DataFrame called new_df which contains only people who earn more than 100K base salary**

In [35]:
new_df = data[data['BasePay'] > 100000]
new_df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,FirstName,LastName,overtime_ratio
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,NATHANIEL,FORD,0.000000
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,GARY,JIMENEZ,1.571701
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,ALBERT,PARDINI,0.498677
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,PATRICK,GARDNER,0.072447
5,AF,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN,DAVID,SULLIVAN,0.072520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,NaN,180394.07,180394.07,2011,NaN,San Francisco,NaN,CHERYL,ADAMS,0.000000
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN,LOUISE,SIMPSON,0.000000
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011,NaN,San Francisco,NaN,BLAKE,LOEBS,0.000000
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN,ELIZABETH,AGUILAR-TARCHI,0.000000
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN,JULIAN,NG,0.335688

# **Now create a new derived column in new_df that is the sum of their pays, not including base salary**

In [38]:
# Create the derived column 'total_other_pays' as the sum of OvertimePay, Bonus, and OtherPay
new_df['total_other_pays'] = new_df[['OvertimePay', 'OtherPay']].sum(axis=1)
new_df

<ipython-input-38-c343c7746b7f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['total_other_pays'] = new_df[['OvertimePay', 'OtherPay']].sum(axis=1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,FirstName,LastName,overtime_ratio,total_other_pays
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,NATHANIEL,FORD,0.000000,400184.25
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,GARY,JIMENEZ,1.571701,382943.26
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,ALBERT,PARDINI,0.498677,122540.78
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,PATRICK,GARDNER,0.072447,191971.59
5,AF,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN,DAVID,SULLIVAN,0.072520,197683.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,NaN,180394.07,180394.07,2011,NaN,San Francisco,NaN,CHERYL,ADAMS,0.000000,3537.89
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN,LOUISE,SIMPSON,0.000000,3537.80
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011,NaN,San Francisco,NaN,BLAKE,LOEBS,0.000000,3537.75
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN,ELIZABETH,AGUILAR-TARCHI,0.000000,3537.11
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN,JULIAN,NG,0.335688,49854.91

## Append a new row to the DataFrame to represent a made up employee (you can use the pd.Concat() method for this)
He/she has no benefits, so set this attribute to not a number using np.nan
# **Make up the other column values, but make sure they are standardised to the same convention as the other values in that column**

In [42]:
# New employee data
new_employee = pd.DataFrame({
    'EmployeeName': ['ALEX NEWMAN'],
    'BasePay': [95000],
    'OvertimePay': [0],
    'OtherPay': [0]
})
import numpy as np # import the numpy module using the common alias np
# Set benefits columns to NaN
new_employee['OvertimePay'] = np.nan
new_employee['OtherPay'] = np.nan

# Append the new employee to the original DataFrame
data_updated = pd.concat([data, new_employee], ignore_index=True)
data_updated

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,FirstName,LastName,overtime_ratio
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN,NATHANIEL,FORD,0.000000
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN,GARY,JIMENEZ,1.571701
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN,ALBERT,PARDINI,0.498677
3,AD,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN,CHRISTOPHER,CHONG,0.720272
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN,PATRICK,GARDNER,0.072447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011.0,NaN,San Francisco,NaN,LOUISE,SIMPSON,0.000000
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011.0,NaN,San Francisco,NaN,BLAKE,LOEBS,0.000000
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011.0,NaN,San Francisco,NaN,ELIZABETH,AGUILAR-TARCHI,0.000000
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011.0,NaN,San Francisco,NaN,JULIAN,NG,0.335688
676,NaN,ALEX NEWMAN,NaN,95000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN